---
import { Image } from 'astro:assets';

import rect from '~/assets/testimonial/rect.png';
import testimonial_muto from '~/assets/testimonial/testimonial_muto.png';
import testimonial_nanao from '~/assets/testimonial/testimonial_nanao.png';
import JoinButton from '~/components/common/joinButton.astro';
import Voice from '~/components/common/voice.astro';
import bg from '~/assets/mystory/flowers2.png';

import Title from '~/components/common/title.astro';
import ZigzagRow from '~/layouts/ZigzagRow.astro';
import ResponsiveGrid from '~/layouts/responsiveGrid.astro';

import { Client, getImage } from '~/util/client';
import { readSingleton } from '@directus/sdk';

// Directusクライアント取得
const client = await new Client().create();
// Directusからprocessのデータを配列で取得
const obj = await client.request(readSingleton('testimonial'));
const round_icon = await getImage(client, obj?.round_icon as string);
const round_icon2 = await getImage(client, obj?.round_icon2 as string);
---

<div id="testimonials" class="flex flex-col justify-center overflow-hidden">
  <div class="relative w-full">
    <Image
      class="absolute left-0 right-0 top-0 -z-10 mx-auto"
      src={bg}
      alt="background image"
    />
  </div>
  <Title title_small="" title1="推薦者コメント" title2="" />
  <div class="lg:-gap-5 z-10 mt-16 flex flex-col items-center gap-14">
    <div class="">
      <div
        class="overlap-group relative flex flex-col items-center justify-center"
      >
        <p class="p">
          <span class="span">うれしのサロン</span>
          <span class="text-wrapper-2"> を<br />おすすめします！</span>
        </p>
        <div class="rectangle absolute ml-4 w-80">
          <Image class="rect" src={rect} alt="" />
        </div>
      </div>
    </div>
    <div class="bubble flex flex-col gap-10 lg:w-3/4 lg:gap-0">
      <ResponsiveGrid>
        <ZigzagRow align="left" slot="top">
          <Voice
            side="left"
            name={obj?.name ?? ''}
            title={obj?.title ?? ''}
            icon={round_icon}
            useStar={true}
          >
            <Fragment set:html={obj.description} />
          </Voice>
        </ZigzagRow>
        <ZigzagRow align="right" slot="bottom">
          <Voice
            side="right"
            name={obj?.name2 ?? ''}
            title={obj?.title2 ?? ''}
            icon={round_icon2}
            useStar={true}
          >
            <Fragment set:html={obj.description2} />
          </Voice>
        </ZigzagRow>
      </ResponsiveGrid>
    </div>
  </div>
</div>

<div class="default-button">
  <div class="overlap-9">
    <JoinButton />
  </div>
</div>

<style>
  :root {
    --pale-pink: rgba(245, 236, 239, 1);
    --neutral: rgba(250, 250, 249, 1);
    --lightest-grey: rgba(228, 228, 231, 1);
    --light-grey: rgba(161, 161, 170, 1);
    --grey: rgba(113, 113, 122, 1);
    --dark-grey: rgba(82, 82, 91, 1);
    --black: rgba(39, 39, 42, 1);
    --mobile-h1-font-family: 'Hina Mincho', Helvetica;
    --mobile-h1-font-weight: 400;
    --mobile-h1-font-size: 40px;
    --mobile-h1-letter-spacing: 0px;
    --mobile-h1-line-height: normal;
    --mobile-h1-font-style: normal;
    --mobile-h2-font-family: 'Hina Mincho', Helvetica;
    --mobile-h2-font-weight: 400;
    --mobile-h2-font-size: 24px;
    --mobile-h2-letter-spacing: 2.88px;
    --mobile-h2-line-height: 144.9303150177002%;
    --mobile-h2-font-style: normal;
    --mobile-body-font-family: 'Ryo Gothic PlusN', Helvetica;
    --mobile-body-font-weight: 400;
    --mobile-body-font-size: 16px;
    --mobile-body-letter-spacing: 2.08px;
    --mobile-body-line-height: 22px;
    --mobile-body-font-style: normal;
    --small-title-j-font-family: 'Ryo Gothic PlusN', Helvetica;
    --small-title-j-font-weight: 400;
    --small-title-j-font-size: 20px;
    --small-title-j-letter-spacing: 0px;
    --small-title-j-line-height: normal;
    --small-title-j-font-style: normal;
    --small-text-j-font-family: 'Ryo Gothic PlusN', Helvetica;
    --small-text-j-font-weight: 400;
    --small-text-j-font-size: 14px;
    --small-text-j-letter-spacing: -0.42px;
    --small-text-j-line-height: normal;
    --small-text-j-font-style: normal;
    --script-font-family: 'Charlotte', Helvetica;
    --script-font-weight: 400;
    --script-font-size: 20px;
    --script-letter-spacing: 0px;
    --script-line-height: normal;
    --script-font-style: normal;
    --h1-e-font-family: 'Cinzel Decorative', Helvetica;
    --h1-e-font-weight: 400;
    --h1-e-font-size: 64px;
    --h1-e-letter-spacing: 1.92px;
    --h1-e-line-height: normal;
    --h1-e-font-style: normal;
    --h2-j-font-family: 'Hina Mincho', Helvetica;
    --h2-j-font-weight: 400;
    --h2-j-font-size: 30px;
    --h2-j-letter-spacing: 3.6px;
    --h2-j-line-height: 144.9303150177002%;
    --h2-j-font-style: normal;
    --body-j-font-family: 'Ryo Gothic PlusN', Helvetica;
    --body-j-font-weight: 400;
    --body-j-font-size: 16px;
    --body-j-letter-spacing: 2.56px;
    --body-j-line-height: 24px;
    --body-j-font-style: normal;
    --montserrat-font-family: 'Montserrat', Helvetica;
    --montserrat-font-weight: 500;
    --montserrat-font-size: 14px;
    --montserrat-letter-spacing: 0.10000000149011612px;
    --montserrat-line-height: 20px;
    --montserrat-font-style: normal;
    --h1-j-font-family: 'Hina Mincho', Helvetica;
    --h1-j-font-weight: 400;
    --h1-j-font-size: 64px;
    --h1-j-letter-spacing: 4.48px;
    --h1-j-line-height: normal;
    --h1-j-font-style: normal;
    --pink-shadow: 3px 4px 5.800000190734863px 0px rgba(193, 157, 169, 1);
    --drop: 0px 2px 4px 0px rgba(177, 165, 171, 0.8);
    --variable-collection-beige: rgba(229, 213, 203, 1);
    --variable-collection-pink: rgba(198, 151, 165, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-pale-pink: rgba(245, 236, 239, 1);
    --variable-collection-salmon: rgba(215, 169, 159, 1);
    --variable-collection-beige-gradient: rgba(255, 255, 255, 0);
    --variable-collection-purple: rgba(158, 135, 190, 1);
  }

  .bg {
    top: 0;
    left: 5px;
    background-image: url(./img/flowers-bg.png);
    background-size: cover;
    background-position: 50% 50%;
  }

  .light-bg {
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .title {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    top: 136px;
    left: 38px;
  }

  .text-wrapper {
    width: fit-content;
    margin-top: -1px;
    text-shadow: 0px 2px 4px #b1a4aacc;
    font-family: var(--mobile-h1-font-family);
    font-weight: var(--mobile-h1-font-weight);
    color: var(--grey);
    font-size: var(--mobile-h1-font-size);
    letter-spacing: var(--mobile-h1-letter-spacing);
    line-height: var(--mobile-h1-line-height);
    font-style: var(--mobile-h1-font-style);
  }

  .div {
    top: 31px;
    left: 7px;
    transform: rotate(-12.46deg);
    opacity: 0.6;
    font-family: 'Charlotte-Regular', Helvetica;
    font-weight: 400;
    color: #c697a57a;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }

  .subtitle {
    top: 214px;
    left: 29px;
  }

  .overlap-group {
  }

  .p {
    top: 40px;
    left: 29px;
    font-family: 'Ryo Gothic PlusN-Regular', Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .span {
    color: #c697a5;
  }

  .text-wrapper-2 {
    color: #71717a;
    font-size: var(--small-title-j-font-size);
    font-family: var(--small-title-j-font-family);
    font-style: var(--small-title-j-font-style);
    font-weight: var(--small-title-j-font-weight);
    letter-spacing: var(--small-title-j-letter-spacing);
    line-height: var(--small-title-j-line-height);
  }

  .overlap-group-2 {
  }

  .frame-wrapper {
    top: -2px;
    left: -4px;
    background-image: url(./img/union-2.svg);
    background-size: 100% 100%;
  }

  .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 16px 32px;
    top: 19px;
    left: 9px;
    border-radius: 10px;
  }

  .div-2 {
    width: fit-content;
    margin-top: -1px;
    font-family: var(--mobile-body-font-family);
    font-weight: var(--mobile-body-font-weight);
    color: transparent;
    font-size: var(--mobile-body-font-size);
    letter-spacing: var(--mobile-body-letter-spacing);
    line-height: var(--mobile-body-line-height);
    font-style: var(--mobile-body-font-style);
  }

  .text-wrapper-4 {
    color: #52525b;
    letter-spacing: var(--mobile-body-letter-spacing);
    font-family: var(--mobile-body-font-family);
    font-style: var(--mobile-body-font-style);
    font-weight: var(--mobile-body-font-weight);
    line-height: var(--mobile-body-line-height);
    font-size: var(--mobile-body-font-size);
  }

  .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
    flex: 0 0 auto;
  }

  .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 auto;
  }

  .ellipse {
    width: 86px;
    /* height: 86px; */
    top: 169px;
    left: 210px;
  }

  .overlap-group-3 {
    top: -2px;
    left: -4px;
    background-image: url(./img/union.svg);
    background-size: 100% 100%;
  }

  .ellipse-2 {
    width: 86px;
    /* height: 86px; */
    top: 168px;
    left: 0;
  }

  .deadline {
    top: 966px;
    left: 2px;
  }

  .overlap-4 {
  }

  .deadline-2 {
    top: 0;
    left: 0;
  }

  .overlap-group-4 {
  }

  .rectangle-3 {
    top: 0;
    left: 0;
    border-radius: 0px 0px 100px 0px;
    background: linear-gradient(
      180deg,
      rgb(158, 135, 190) 0%,
      rgb(198, 151, 165) 100%
    );
  }

  .mask-group {
    top: 0;
    left: 7px;
  }

  .element {
    top: 18px;
    left: 62px;
    font-family: 'Ryo Gothic PlusN-Regular', Helvetica;
    font-weight: 400;
    color: var(--variable-collection-white);
    font-size: 24px;
    letter-spacing: 3.12px;
    line-height: 22px;
    white-space: nowrap;
  }

  .text-wrapper-7 {
    letter-spacing: 0.75px;
  }

  .text-wrapper-8 {
    font-size: var(--mobile-body-font-size);
    letter-spacing: var(--mobile-body-letter-spacing);
    font-family: var(--mobile-body-font-family);
    font-style: var(--mobile-body-font-style);
    font-weight: var(--mobile-body-font-weight);
    line-height: var(--mobile-body-line-height);
  }

  .label {
    top: 975px;
    left: 19px;
    transform: rotate(22.13deg);
  }

  .overlap-5 {
  }

  .group-2 {
    opacity: 0.94;
    top: 0;
    left: 0;
  }

  .overlap-group-5 {
    top: -2px;
    left: -6px;
  }

  .watercolor {
    top: 32px;
    left: 8px;
    transform: rotate(-22.13deg);
    object-fit: cover;
  }

  .text-wrapper-9 {
    top: 45px;
    left: 37px;
    transform: rotate(-24.87deg);
    mix-blend-mode: multiply;
    font-family: 'Ryo Gothic PlusN-B', Helvetica;
    font-weight: 400;
    color: var(--variable-collection-purple);
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.42px;
    line-height: normal;
  }

  .text-wrapper-10 {
    top: 52px;
    left: 42px;
    transform: rotate(-26.24deg);
    mix-blend-mode: multiply;
    background: linear-gradient(
      180deg,
      rgb(158, 135, 190) 0%,
      rgb(198, 151, 165) 100%
    );
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-family: 'Hina Mincho-Regular', Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 32px;
    text-align: center;
    letter-spacing: -0.96px;
    line-height: normal;
  }

  .overlap-6 {
    left: -10px;
    border-radius: 100px;
  }

  .frame-4 {
    display: inline-flex;
    align-items: flex-end;
    gap: 56px;
    padding: 32px 30px 32px 70px;
    top: 0;
    left: 0;
    background-color: #a37dd21a;
    border-radius: 100px;
    box-shadow: 1px 1px 2.1px #7e76d4;
  }

  .text-wrapper-11 {
    width: fit-content;
    margin-top: -1px;
    font-family: 'Ryo Gothic PlusN-B', Helvetica;
    font-weight: 400;
    color: var(--variable-collection-white);
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 20px;
    white-space: nowrap;
  }

  .arrow-forward-ios {
  }

  .intersect {
    top: 0;
    left: 8px;
    mix-blend-mode: lighten;
  }
</style>
