---
import "@fontsource-variable/inter";
import "@fontsource/sawarabi-gothic";
import "@fontsource/cinzel-decorative";
import "@fontsource/hina-mincho";
import "@fontsource/zen-kaku-gothic-new";

import Header from "~/components/mobile/common/header.astro";
import Footer from "~/components/mobile/common/footer.astro";
import FirstView from "~/components/mobile/ureshinosalon/firstview.astro";
import About from "~/components/mobile/ureshinosalon/about.astro";
import Check from "~/components/mobile/ureshinosalon/check.astro";
import Benefit from "~/components/mobile/ureshinosalon/benefit.astro";
import Testimonial from "~/components/mobile/ureshinosalon/testimonial.astro";
import Contents from "~/components/mobile/ureshinosalon/contents.astro";
import Mystory from "~/components/mobile/ureshinosalon/mystory.astro";
import Myjourney from "~/components/mobile/ureshinosalon/myjourney.astro";
import Yourstory from "~/components/mobile/ureshinosalon/yourstory.astro";
import Voice_support from "~/components/mobile/ureshinosalon/voice_support.astro";
import Price from "~/components/mobile/ureshinosalon/price.astro";
import Voice_member from "~/components/mobile/ureshinosalon/voice_member.astro";
import Profile from "~/components/mobile/ureshinosalon/profile.astro";
import Message from "~/components/mobile/ureshinosalon/message.astro";
import Process from "~/components/mobile/ureshinosalon/process.astro";
import Terms from "~/components/mobile/ureshinosalon/terms.astro";
import Contact from "~/components/mobile/ureshinosalon/contact.astro";

import "~/styles/index.css";

const { generator } = Astro;
const site = "https://ureshinosalon.com";
const image = new URL("social.png", site);
const description =
  "「かわいく賢く生きる」ための女性向けオンラインサロンうれしのサロン";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>UreshinoSalon Page</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="UreshinoSalon" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>

  <body
    class="flex h-full w-full flex-col items-center overflow-x-hidden bg-[#F5ECEF] text-default text-base selection:bg-secondary selection:text-white"
  >
    <div class="relative flex flex-col gap-8 sm:max-w-sm lg:max-w-full">
      <Header />
      <FirstView />
      <About />
      <Check />
      <Benefit />
      <Testimonial />
      <Contents />
      <Mystory />
      <!-- <Myjourney/> -->
      <Yourstory />
      <Voice_support />
      <Price />
      <Voice_member />
      <!-- <Profile /> -->
      <!-- <Message /> -->
      <!-- <Process /> -->
      <!-- <Terms/> -->
      <!-- <Contact /> -->

      <Footer />
    </div>
  </body>
</html>
