---
import "@fontsource-variable/inter";
import "@fontsource/sawarabi-gothic";
import "@fontsource/cinzel-decorative";
import "@fontsource/hina-mincho";
import "@fontsource/zen-kaku-gothic-new";

import Header_mobile from "~/components/mobile/common/header_mobile.astro";
import Footer_mobile from "~/components/mobile/common/footer_mobile.astro";
import FirstView_mobile from "~/components/mobile/common/firstview_mobile.astro";
import About_mobile from "~/components/mobile/ureshinosalon/about_mobile.astro";
import Check_mobile from "~/components/mobile/ureshinosalon/check_mobile.astro";
import Benefit_mobile from "~/components/mobile/ureshinosalon/benefit_mobile.astro";
import Testimonial_mobile from "~/components/mobile/ureshinosalon/testimonial_mobile.astro";
import Contents_mobile from "~/components/mobile/ureshinosalon/contents_mobile.astro";
import Mystory_mobile from "~/components/mobile/ureshinosalon/mystory_mobile.astro";
import Myjourney_mobile from "~/components/mobile/ureshinosalon/myjourney_mobile.astro";
import Yourstory_mobile from "~/components/mobile/ureshinosalon/yourstory_mobile.astro";
import Voice2_mobile from "~/components/mobile/ureshinosalon/voice2_mobile.astro";
import Price_mobile from "~/components/mobile/ureshinosalon/price_mobile.astro";
import Voice1_mobile from "~/components/mobile/ureshinosalon/voice1_mobile.astro";
import Profile_mobile from "~/components/mobile/ureshinosalon/profile_mobile.astro";
import Message_mobile from "~/components/mobile/ureshinosalon/message_mobile.astro";
import Process_mobile from "~/components/mobile/ureshinosalon/process_mobile.astro";
import Terms_mobile from "~/components/mobile/ureshinosalon/terms_mobile.astro";
import Contact_mobile from "~/components/mobile/ureshinosalon/contact_mobile.astro";

import "~/styles/index.css";

const { generator } = Astro;
const site = "https://ureshinosalon.com";
const image = new URL("social.png", site);
const description =
  "「かわいく賢く生きる」ための女性向けオンラインサロンうれしのサロン";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>UreshinoSalon Page</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="UreshinoSalon" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>

  <body
    class="flex h-full w-full flex-col items-center overflow-x-hidden bg-[#F5ECEF] text-default text-base selection:bg-secondary selection:text-white"
  >
    <div class="relative flex flex-col gap-8 sm:max-w-sm">
      <Header_mobile />
      <FirstView_mobile />
      <About_mobile />
      <Check_mobile />
      <Benefit_mobile />
      <Testimonial_mobile />
      <Contents_mobile />
      <Mystory_mobile />
      <!-- <Myjourney_mobile /> -->
      <Yourstory_mobile />
      <Voice2_mobile />
      <Price_mobile />
      <Voice1_mobile />
      <!-- <Profile_mobile /> -->
      <!-- <Message_mobile /> -->
      <Process_mobile />
      <!-- <Terms_mobile /> -->
      <!-- <Contact_mobile /> -->

      <Footer_mobile />
    </div>
  </body>
</html>
