---
import '@fontsource-variable/inter';
import Header_desktop from '~/components/desktop/common/header_desktop.astro';
import Footer_desktop from '~/components/desktop/common/footer_desktop.astro';
import FirstView_desktop from '~/components/desktop/common/firstview_desktop.astro';
import About_desktop from '~/components/desktop/ureshinosalon/about_desktop.astro';
import Check_desktop from '~/components/desktop/ureshinosalon/check_desktop.astro';
import Benefit_desktop from '~/components/desktop/ureshinosalon/benefit_desktop.astro';
import Testimonial_desktop from '~/components/desktop/ureshinosalon/testimonial_desktop.astro';
import Contents_desktop from '~/components/desktop/ureshinosalon/contents_desktop.astro';
import Mystory_desktop from '~/components/desktop/ureshinosalon/mystory_desktop.astro';
import Mystory2_desktop from '~/components/desktop/ureshinosalon/mystory2_desktop.astro';
import Myjourney_desktop from '~/components/desktop/ureshinosalon/myjourney_desktop.astro';
import Startyour_desktop from '~/components/desktop/ureshinosalon/startyour_desktop.astro';
import Community_desktop from '~/components/desktop/ureshinosalon/community_desktop.astro';
import Voice2_desktop from '~/components/desktop/ureshinosalon/voice2_desktop.astro';
import Price_desktop from '~/components/desktop/ureshinosalon/price_desktop.astro';
import Voice1_desktop from '~/components/desktop/ureshinosalon/voice1_desktop.astro';
import Profile_desktop from '~/components/desktop/ureshinosalon/profile_desktop.astro';
import Message_desktop from '~/components/desktop/ureshinosalon/message_desktop.astro';
import Process_desktop from '~/components/desktop/ureshinosalon/process_desktop.astro';
import Process2_desktop from '~/components/desktop/ureshinosalon/process2_desktop.astro';
import Process3_desktop from '~/components/desktop/ureshinosalon/process3_desktop.astro';

import Header_mobile from '~/components/mobile/common/header_mobile.astro';
import Footer_mobile from '~/components/mobile/common/footer_mobile.astro';
import FirstView_mobile from '~/components/mobile/common/firstview_mobile.astro';
import About_mobile from '~/components/mobile/ureshinosalon/about_mobile.astro';
import Check_mobile from '~/components/mobile/ureshinosalon/check_mobile.astro';
import Benefit_mobile from '~/components/mobile/ureshinosalon/benefit_mobile.astro';
import Testimonial_mobile from '~/components/mobile/ureshinosalon/testimonial_mobile.astro';
import Contents_mobile from '~/components/mobile/ureshinosalon/contents_mobile.astro';
import Mystory_mobile from '~/components/mobile/ureshinosalon/mystory_mobile.astro';
import Myjourney_mobile from '~/components/mobile/ureshinosalon/myjourney_mobile.astro';
import Startyour_mobile from '~/components/mobile/ureshinosalon/startyour_mobile.astro';
import Community_mobile from '~/components/mobile/ureshinosalon/community_mobile.astro';
import Voice2_mobile from '~/components/mobile/ureshinosalon/voice2_mobile.astro';
import Price_mobile from '~/components/mobile/ureshinosalon/price_mobile.astro';
import Voice1_mobile from '~/components/mobile/ureshinosalon/voice1_mobile.astro';
import Profile_mobile from '~/components/mobile/ureshinosalon/profile_mobile.astro';
import Message_mobile from '~/components/mobile/ureshinosalon/message_mobile.astro';
import Process_mobile from '~/components/mobile/ureshinosalon/process_mobile.astro';
import Process2_mobile from '~/components/mobile/ureshinosalon/process2_mobile.astro';
import Process3_mobile from '~/components/mobile/ureshinosalon/process3_mobile.astro';

import '~/styles/index.css';

const { generator } = Astro;
const site = 'https://ureshinosalon.vercel.app/ureshinosalon';
const image = new URL('social.png', site);
const description =
  '「かわいく賢く生きる」ための女性向けオンラインサロンうれしのサロン';
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>UreshinoSalon Page</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="UreshinoSalon" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <!-- PC用 -->
  <!-- <body class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white">
    <Header_desktop />
    <FirstView_desktop />

    <About_desktop />
    <Check_desktop />
    <Benefit_desktop />
    <Testimonial_desktop />
    <Contents_desktop />
    <Mystory_desktop />
    <Mystory2_desktop />
    <Myjourney_desktop />
    <Startyour_desktop />
    <Community_desktop />
    <Voice2_desktop />
    <Price_desktop />
    <Voice1_desktop />
    <Profile_desktop />
    <Message_desktop />
    <Process_desktop />
    <Process2_desktop />
    <Process3_desktop />

    <Footer_desktop />
  </body> -->

  <!-- Mobile用 -->
  <body
    class="flex h-full flex-col overflow-x-hidden bg-[#F5ECEF] text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header_mobile />
    <FirstView_mobile />
    <About_mobile />
    <Check_mobile />
    <Benefit_mobile />
    <!-- <Testimonial_mobile /> -->
    <!-- <Contents_mobile /> -->
    <!-- <Mystory_mobile /> -->
    <!-- <Myjourney_mobile /> -->
    <!-- <Startyour_mobile />
    <Community_mobile /> -->
    <!-- <Voice2_mobile />
    <Price_mobile />
    <Voice1_mobile /> -->
    <!-- <Profile_mobile /> -->
    <!-- <Message_mobile /> -->
    <!-- <Process_mobile />
    <Process2_mobile />
    <Process3_mobile /> -->

    <Footer_mobile />
  </body>
</html>
