---
import "@fontsource-variable/inter";
import UreshinosalonIntro from "~/components/ureshinosalon/ureshinosalon_intro.astro";
import Features2 from "~/components/ureshinosalon/features2.astro";
import UreshinosalonContents from "~/components/ureshinosalon/ureshinosalon_contents.astro";
import Header from "~/components/common/header.astro";
import Footer from "~/components/common/footer.astro";
import Intro from "~/components/common/intro.astro";
import Splash from "~/components/common/splash.astro";

import ureshino1 from "../assets/ureshinoimage1.png";
import "~/styles/index.css";

const { generator } = Astro;
const site = "https://ureshinosalon.vercel.app/ureshinosalon";
const image = new URL("social2.png", site);
const description =
  "「かわいく賢く生きる」ための女性向けオンラインサロンうれしのサロン";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>UreshinoSalon Page</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="UreshinoSalon" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash src={ureshino1} />
    <div class="space-y-24 px-8 py-32">
      <Intro title="「かわいく賢く生きる」女性たちが互いに高め合うコミュニティ" id="intro">
        <div class="text-center">
          ※以下デザイナー様向けデザインメモ<br/>
          【ファーストビュー】<br/>
          ファーストビューは画像だけでなく、メインキャッチ，テキストも入られそうなら入れる。<br/>
          （モバイルは縦に，PCは横などバランスを見て）<br/>
          文字は画像に入れるよりもテキストで入れる方が良い。<br/>
          【カラー】<br/>
          もう少し淡いピンクと白をメインに<br/>
          グラデーションなど背景を可愛らしく<br/>
          参考イメージで送ったsnidelのコスメサイトのようなイメージ<br/>
          編集中の段階からFigmaを共有して下さっても助かります。<br/>
          ボタンの色も緑に拘りはない。<br/>
          （押したくなるが、世界観に合わせた色で）<br/>
          【画像】<br/>
          再度細かい部分を選定予定<br/>
        </div>
        <div class="text-center" style="color:#393333"></div>
        <a href="/koreasalon/" class="text-white font-bold py-4 px-6 rounded-full" style="background-color:#3bc0af">
          今すぐ入会する♡
        </a>
      </Intro>
      <UreshinosalonIntro />
      <Features2 />
      <UreshinosalonContents />
    </div>
    <Footer />
  </body>
</html>
