---
import { Image } from "astro:assets";

import ureshino1 from "~/assets/hero_top1.png";
import logo from "~/assets/logomark.png";
import description from "~/assets/upgrade_your_life.png";
import benefit1 from "~/assets/benefit/benefit1.png";
import benefit2 from "~/assets/benefit/benefit2.png";
import benefit3 from "~/assets/benefit/benefit3.png";
import star from "~/assets/benefit/benefit_star.png";
import diamond from "~/assets/benefit/diamond.svg";
---

<div class="box">
    <div class="benefits">
    <div class="overlap">
        <div class="benefit">
        <div class="overlap-group">
            <div class="bg">
            <div class="div">
                <div class="pink-bg"><div class="rectangle"></div></div>
                <img class="light" src="img/light.png" />
                <div class="gradient"></div>
            </div>
            </div>
            <Image class="benefit1" src={benefit1} alt="benefit1"/>
            <div class="text-wrapper">Benefits</div>
            <div class="title">
            <div class="subtitle"><div class="text-wrapper-2">かわいく賢く生きるためのスキルアップ！</div></div>
            <div class="title-2">
                <div class="text-wrapper-3">入会メリット</div>
                <div class="div-wrapper"><div class="text-wrapper-4">01</div></div>
            </div>
            </div>
            <div class="frame">
            <div class="frame-2">
                <div class="group">
                <div class="frame-wrapper">
                    <div class="frame-3">
                    <Image class="star" src={star} alt="star"/>
                    <div class="text-wrapper-5">ビジネス<br />マインド</div>
                    </div>
                </div>
                </div>
                <div class="group">
                <div class="overlap-2">
                    <div class="frame-3">
                    <Image class="star" src={star} alt="star"/>
                    <div class="text-wrapper-5">美容<br />モテテク</div>
                    </div>
                </div>
                </div>
                <div class="group">
                <div class="overlap-3">
                    <div class="frame-4">
                    <Image class="star" src={star} alt="star"/>
                    <div class="text-wrapper-6">収入 UP</div>
                    </div>
                </div>
                </div>
            </div>
            <div class="frame-5">
                <div class="group">
                <div class="overlap-group-2">
                    <div class="frame-3">
                    <Image class="star" src={star} alt="star"/>
                    <div class="text-wrapper-5">SNSの<br />伸ばし方</div>
                    </div>
                </div>
                </div>
                <div class="group">
                <div class="overlap-4">
                    <div class="frame-6">
                    <Image class="star" src={star} alt="star"/>
                    <div class="text-wrapper-6">海外移住</div>
                    </div>
                </div>
                </div>
                <div class="contents">
                <button class="button">
                    <button class="state-layer-wrapper">
                    <div class="state-layer">
                        <Image class="diamond" src={diamond} alt="diamond"/>
                        <div class="label-text">コンテンツ</div>
                    </div>
                    </button>
                </button>
                </div>
            </div>
            </div>
            <div class="highlight"></div>
            <p class="p">
            <span class="span">サロン限定 </span>
            <span class="text-wrapper-7">ライブ配信</span>
            <span class="span">・</span>
            <span class="text-wrapper-7">コラム</span>
            </p>
            <div class="ureshino">
            <div class="text-wrapper-8">うれしの発信</div>
            <img class="line" src="img/line-13.svg" />
            <img class="line-2" src="img/line-14.svg" />
            </div>
        </div>
        </div>
        <div class="benefit-2">
        <div class="pic"><div class="rectangle-2"></div></div>
        <div class="menu">
            <div class="group">
            <div class="overlap-group-3">
                <div class="frame-7">
                <Image class="star" src={star} alt="star"/>
                <div class="text-wrapper-5">向上心の高い<br />環境</div>
                </div>
            </div>
            </div>
            <div class="group">
            <div class="overlap-5">
                <div class="frame-7">
                <Image class="star" src={star} alt="star"/>
                <div class="text-wrapper-5">仕事・美容・<br />恋愛</div>
                </div>
            </div>
            </div>
            <div class="group">
            <div class="overlap-6">
                <div class="frame-8">
                <Image class="star" src={star} alt="star"/>
                <div class="text-wrapper-5">
                    モチベ<br />
                    UP
                </div>
                </div>
            </div>
            </div>
            <div class="group">
            <div class="overlap-7">
                <div class="frame-9">
                <Image class="star" src={star} alt="star"/>
                <div class="text-wrapper-6">リアルな交流</div>
                </div>
            </div>
            </div>
            <div class="group">
            <div class="overlap-8">
                <div class="frame-7">
                <Image class="star" src={star} alt="star"/>
                <div class="text-wrapper-5">グローバルな<br />メンバー</div>
                </div>
            </div>
            </div>
            <div class="group">
            <div class="overlap-9">
                <div class="frame-10">
                <Image class="star" src={star} alt="star"/>
                <div class="text-wrapper-5">多彩な<br />イベント</div>
                </div>
            </div>
            </div>
        </div>
        <div class="frame-11">
            <div class="text-wrapper-9">入会メリット</div>
            <div class="frame-12"><div class="text-wrapper-4">02</div></div>
        </div>
        <div class="subtitle-2"><div class="text-wrapper-2">一緒に成長できる仲間と環境</div></div>
        </div>
        <div class="benefit-3">
        <img class="exclude" src="img/exclude.svg" />
        <div class="overlap-10">
            <div class="rectangle-wrapper"><div class="rectangle-3"></div></div>
            <div class="frame-13">
            <div class="frame-2">
                <div class="group">
                <div class="overlap-group-4">
                    <div class="frame-14">
                    <Image class="star" src={star} alt="star"/>
                    <div class="text-wrapper-5">ビジネス<br />パートナー</div>
                    </div>
                </div>
                </div>
                <div class="group">
                <div class="overlap-11">
                    <div class="frame-7">
                    <Image class="star" src={star} alt="star"/>
                    <div class="text-wrapper-5">成功チャンス<br />拡大</div>
                    </div>
                </div>
                </div>
                <div class="group">
                <div class="overlap-12">
                    <div class="frame-3">
                    <Image class="star" src={star} alt="star"/>
                    <div class="text-wrapper-5">協力して<br />SNS強化</div>
                    </div>
                </div>
                </div>
            </div>
            <div class="frame-2">
                <div class="group">
                <div class="overlap-group-5">
                    <div class="frame-10">
                    <Image class="star" src={star} alt="star"/>
                    <div class="text-wrapper-5">豊富な<br />アイデア</div>
                    </div>
                </div>
                </div>
                <div class="group">
                <div class="overlap-13">
                    <div class="frame-15">
                    <Image class="star" src={star} alt="star"/>
                    <div class="text-wrapper-5">売上<br />影響力 UP</div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="default-button">
            <div class="overlap-14">
                <div class="frame-16">
                <div class="text-wrapper-10">今すぐ入会</div>
                <img class="img" src="img/arrow-forward-ios.svg" />
                </div>
                <img class="intersect" src="img/intersect.svg" />
            </div>
            </div>
            <div class="title-3">
            <div class="subtitle"><div class="text-wrapper-2">ビジネスチャンスが広がる！</div></div>
            <div class="title-4">
                <div class="text-wrapper-3">入会メリット</div>
                <div class="div-wrapper"><div class="text-wrapper-4">03</div></div>
            </div>
            </div>
            <div class="label">
            <div class="overlap-15">
                <div class="overlap-group-wrapper">
                <div class="watercolor-wrapper"><img class="watercolor" src="img/watercolor1-2.png" /></div>
                </div>
                <p class="element">
                <span class="text-wrapper-11">先着</span>
                <span class="text-wrapper-12">200</span>
                <span class="text-wrapper-11">名限定</span>
                </p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<style>
    :root {
  --pale-pink: rgba(245, 236, 239, 1);
  --neutral: rgba(250, 250, 249, 1);
  --lightest-grey: rgba(228, 228, 231, 1);
  --light-grey: rgba(161, 161, 170, 1);
  --grey: rgba(113, 113, 122, 1);
  --dark-grey: rgba(82, 82, 91, 1);
  --black: rgba(39, 39, 42, 1);
  --script-font-family: "Charlotte", Helvetica;
  --script-font-weight: 400;
  --script-font-size: 20px;
  --script-letter-spacing: 0px;
  --script-line-height: normal;
  --script-font-style: normal;
  --h1-e-font-family: "Cinzel Decorative", Helvetica;
  --h1-e-font-weight: 400;
  --h1-e-font-size: 64px;
  --h1-e-letter-spacing: 1.92px;
  --h1-e-line-height: normal;
  --h1-e-font-style: normal;
  --h2-j-font-family: "Hina Mincho", Helvetica;
  --h2-j-font-weight: 400;
  --h2-j-font-size: 30px;
  --h2-j-letter-spacing: 3.6px;
  --h2-j-line-height: 144.9303150177002%;
  --h2-j-font-style: normal;
  --body-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --body-j-font-weight: 400;
  --body-j-font-size: 16px;
  --body-j-letter-spacing: 2.56px;
  --body-j-line-height: 24px;
  --body-j-font-style: normal;
  --small-text-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-text-j-font-weight: 400;
  --small-text-j-font-size: 14px;
  --small-text-j-letter-spacing: -0.42px;
  --small-text-j-line-height: normal;
  --small-text-j-font-style: normal;
  --small-title-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-title-j-font-weight: 400;
  --small-title-j-font-size: 20px;
  --small-title-j-letter-spacing: 0px;
  --small-title-j-line-height: normal;
  --small-title-j-font-style: normal;
  --montserrat-font-family: "Montserrat", Helvetica;
  --montserrat-font-weight: 500;
  --montserrat-font-size: 14px;
  --montserrat-letter-spacing: 0.10000000149011612px;
  --montserrat-line-height: 20px;
  --montserrat-font-style: normal;
  --h1-j-font-family: "Hina Mincho", Helvetica;
  --h1-j-font-weight: 400;
  --h1-j-font-size: 64px;
  --h1-j-letter-spacing: 4.48px;
  --h1-j-line-height: normal;
  --h1-j-font-style: normal;
  --pink-shadow: 3px 4px 5.800000190734863px 0px rgba(193, 157, 169, 1);
  --drop: 0px 2px 4px 0px rgba(177, 165, 171, 0.8);
  --variable-collection-beige: rgba(229, 213, 203, 1);
  --variable-collection-pink: rgba(198, 151, 165, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-pale-pink: rgba(245, 236, 239, 1);
  --variable-collection-salmon: rgba(215, 169, 159, 1);
  --variable-collection-beige-gradient: rgba(255, 255, 255, 0);
  --variable-collection-purple: rgba(158, 135, 190, 1);
}

.box {
  width: 1575px;
  height: 2253px;
}

.box .benefits {
  width: 1575px;
  height: 2253px;
  top: 0;
  left: 0;
}

.box .overlap {
  position: relative;
  width: 1579px;
  height: 2253px;
}

.box .benefit {
  position: absolute;
  width: 1579px;
  height: 2103px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: relative;
  width: 1575px;
  height: 2103px;
}

.box .bg {
  position: absolute;
  width: 1575px;
  height: 2103px;
  top: 0;
  left: 0;
}

.box .div {
  position: relative;
  width: 1280px;
  height: 2103px;
  left: 287px;
}

.box .pink-bg {
  position: absolute;
  width: 1279px;
  height: 2103px;
  top: 0;
  left: 0;
  background-color: var(--variable-collection-pale-pink);
}

.box .rectangle {
  height: 2103px;
  background-color: var(--variable-collection-pale-pink);
  mix-blend-mode: multiply;
  opacity: 0.76;
}

.box .light {
  position: absolute;
  width: 1280px;
  height: 2100px;
  top: 0;
  left: 0;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.box .gradient {
  position: absolute;
  width: 1279px;
  height: 2103px;
  top: 0;
  left: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 236, 239, 0.48) 50.5%,
    rgba(221.48, 179.58, 193.4, 0.48) 100%
  );
}

.box .mrn {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 24px;
  left: 926px;
}

.box .text-wrapper {
  position: absolute;
  width: 275px;
  top: 236px;
  left: 875px;
  transform: rotate(-32.5deg);
  opacity: 0.46;
  font-family: "Charlotte-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.box .title {
  position: absolute;
  width: 729px;
  height: 183px;
  top: 49px;
  left: 150px;
}

.box .subtitle {
  top: 119px;
  left: 0;
  border-radius: 2px 50px 50px 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 40px;
  position: absolute;
  background-color: #d197bc4c;
  box-shadow: 0px 2px 4px #b1a4aacc;
}

.box .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Sawarabi Gothic-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-white);
  font-size: 32px;
  letter-spacing: 2.24px;
  line-height: 24px;
  white-space: nowrap;
}

.box .title-2 {
  position: absolute;
  width: 514px;
  height: 98px;
  top: 0;
  left: 0;
}

.box .text-wrapper-3 {
  position: absolute;
  top: 1px;
  left: 0;
  text-shadow: 3px 4px 5.8px #c19da8;
  font-family: var(--h1-j-font-family);
  font-weight: var(--h1-j-font-weight);
  color: var(--variable-collection-white);
  font-size: var(--h1-j-font-size);
  letter-spacing: var(--h1-j-letter-spacing);
  line-height: var(--h1-j-line-height);
  font-style: var(--h1-j-font-style);
}

.box .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 12px;
  position: absolute;
  top: 0;
  left: 419px;
  border-radius: 2px 100px 100px 100px;
  border: 3px solid;
  border-color: transparent;
  backdrop-filter: blur(19px) brightness(100%);
  -webkit-backdrop-filter: blur(19px) brightness(100%);
  border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.94),
      rgb(255, 255, 255) 0.01%,
      rgb(221.48, 179.58, 193.4) 62.5%
    )
    1;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.4) 100%);
}

.box .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -3px;
  font-family: "Cinzel Decorative-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-pink);
  font-size: 64px;
  letter-spacing: 3.2px;
  line-height: normal;
}

.box .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 342px;
  left: 441px;
}

.box .frame-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.box .group {
  position: relative;
  width: 123px;
  height: 123px;
}

.box .frame-wrapper {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-2.svg);
  background-size: 100% 100%;
}

.box .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  top: 29px;
  left: 28px;
}

.box .star {
  position: relative;
  width: 18.03px;
  height: 18.03px;
}

.box .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: var(--body-j-font-family);
  font-weight: var(--body-j-font-weight);
  color: var(--grey);
  font-size: var(--body-j-font-size);
  text-align: center;
  letter-spacing: var(--body-j-letter-spacing);
  line-height: var(--body-j-line-height);
  font-style: var(--body-j-font-style);
}

.box .overlap-2 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-9.svg);
  background-size: 100% 100%;
}

.box .overlap-3 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-11.svg);
  background-size: 100% 100%;
}

.box .frame-4 {
  top: 41px;
  left: 31px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.box .text-wrapper-6 {
  white-space: nowrap;
  position: relative;
  width: fit-content;
  font-family: var(--body-j-font-family);
  font-weight: var(--body-j-font-weight);
  color: var(--grey);
  font-size: var(--body-j-font-size);
  text-align: center;
  letter-spacing: var(--body-j-letter-spacing);
  line-height: var(--body-j-line-height);
  font-style: var(--body-j-font-style);
}

.box .frame-5 {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.box .overlap-group-2 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-14.svg);
  background-size: 100% 100%;
}

.box .overlap-4 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-13.svg);
  background-size: 100% 100%;
}

.box .frame-6 {
  top: 41px;
  left: 28px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.box .contents {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.box .button {
  all: unset;
  box-sizing: border-box;
  align-items: flex-start;
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.box .state-layer-wrapper {
  all: unset;
  box-sizing: border-box;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--variable-collection-salmon);
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.box .state-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 24px 10px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.box .img {
  position: relative;
  width: 18px;
  height: 18px;
}

.box .label-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--montserrat-font-family);
  font-weight: var(--montserrat-font-weight);
  color: var(--variable-collection-salmon);
  font-size: var(--montserrat-font-size);
  text-align: center;
  letter-spacing: var(--montserrat-letter-spacing);
  line-height: var(--montserrat-line-height);
  white-space: nowrap;
  font-style: var(--montserrat-font-style);
}

.box .highlight {
  position: absolute;
  width: 302px;
  height: 48px;
  top: 270px;
  left: 429px;
  opacity: 0.81;
  background-image: url(./img/highlight-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.box .p {
  position: absolute;
  top: 270px;
  left: 433px;
  font-family: "Ryo Gothic PlusN-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.box .span {
  color: #71717a;
}

.box .text-wrapper-7 {
  color: #c697a5;
  font-size: 24px;
}

.box .ureshino {
  position: absolute;
  width: 149px;
  height: 104px;
  top: 220px;
  left: 347px;
  transform: rotate(9.06deg);
  box-shadow: 0px 2px 4px #b1a4aacc;
}

.box .text-wrapper-8 {
  position: absolute;
  top: 41px;
  left: 8px;
  transform: rotate(-32.09deg);
  font-family: "Ryo Gothic PlusN-B", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-white);
  font-size: 20px;
  text-align: center;
  letter-spacing: 3.2px;
  line-height: 24px;
  white-space: nowrap;
}

.box .line {
  width: 23px;
  height: 16px;
  top: 89px;
  left: 1px;
  position: absolute;
  transform: rotate(-9.06deg);
  object-fit: cover;
}

.box .line-2 {
  width: 3px;
  height: 28px;
  top: 0;
  left: 144px;
  position: absolute;
  transform: rotate(-9.06deg);
  object-fit: cover;
}

.box .benefit-2 {
  position: absolute;
  width: 1149px;
  height: 600px;
  top: 642px;
  left: 327px;
}

.box .pic {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-5.png);
  background-size: 100% 100%;
}

.box .rectangle-2 {
  height: 600px;
  border-radius: 0px 80px 0px 80px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 236, 239, 0.48) 50.5%,
    rgba(221.48, 179.58, 193.4, 0.48) 100%
  );
  opacity: 0.43;
}

.box .menu {
  display: flex;
  flex-wrap: wrap;
  width: 484px;
  align-items: flex-start;
  gap: 32px 40px;
  position: absolute;
  top: 282px;
  left: 665px;
}

.box .overlap-group-3 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-16.svg);
  background-size: 100% 100%;
}

.box .frame-7 {
  top: 29px;
  left: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.box .overlap-5 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-4.svg);
  background-size: 100% 100%;
}

.box .overlap-6 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-3.svg);
  background-size: 100% 100%;
}

.box .frame-8 {
  top: 29px;
  left: 37px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.box .overlap-7 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-10.svg);
  background-size: 100% 100%;
}

.box .frame-9 {
  top: 41px;
  left: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.box .overlap-8 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-15.svg);
  background-size: 100% 100%;
}

.box .overlap-9 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-6.svg);
  background-size: 100% 100%;
}

.box .frame-10 {
  top: 29px;
  left: 29px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.box .frame-11 {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  position: absolute;
  top: 55px;
  left: 625px;
}

.box .text-wrapper-9 {
  position: relative;
  width: fit-content;
  text-shadow: 3px 4px 5.8px #c19da8;
  font-family: var(--h1-j-font-family);
  font-weight: var(--h1-j-font-weight);
  color: var(--variable-collection-white);
  font-size: var(--h1-j-font-size);
  letter-spacing: var(--h1-j-letter-spacing);
  line-height: var(--h1-j-line-height);
  font-style: var(--h1-j-font-style);
}

.box .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 2px 100px 100px 100px;
  border: 3px solid;
  border-color: transparent;
  backdrop-filter: blur(19px) brightness(100%);
  -webkit-backdrop-filter: blur(19px) brightness(100%);
  border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.94),
      rgb(255, 255, 255) 0.01%,
      rgb(221.48, 179.58, 193.4) 62.5%
    )
    1;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.4) 100%);
}

.box .subtitle-2 {
  top: 174px;
  left: 626px;
  border-radius: 50px 2px 2px 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 40px;
  position: absolute;
  background-color: #d197bc4c;
  box-shadow: 0px 2px 4px #b1a4aacc;
}

.box .benefit-3 {
  position: absolute;
  width: 1280px;
  height: 969px;
  top: 1284px;
  left: 287px;
}

.box .exclude {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 819px;
  left: 1130px;
}

.box .overlap-10 {
  position: absolute;
  width: 1279px;
  height: 819px;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 236, 239, 0.48) 50.5%,
    rgba(221.48, 179.58, 193.4, 0.48) 100%
  );
}

.box .rectangle-wrapper {
  position: absolute;
  width: 642px;
  height: 642px;
  top: 0;
  left: 597px;
  background-image: url(./img/mrn-2.png);
  background-size: 100% 100%;
}

.box .rectangle-3 {
  height: 642px;
  border-radius: 80px 0px 80px 0px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(229, 213, 203, 0.56) 100%);
  opacity: 0.49;
}

.box .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: absolute;
  top: 288px;
  left: 150px;
}

.box .overlap-group-4 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13.svg);
  background-size: 100% 100%;
}

.box .frame-14 {
  top: 29px;
  left: 19px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.box .overlap-11 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-8.svg);
  background-size: 100% 100%;
}

.box .overlap-12 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-7.svg);
  background-size: 100% 100%;
}

.box .overlap-group-5 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-12.svg);
  background-size: 100% 100%;
}

.box .overlap-13 {
  position: relative;
  width: 129px;
  height: 129px;
  top: -3px;
  left: -3px;
  background-image: url(./img/ellipse-13-5.svg);
  background-size: 100% 100%;
}

.box .frame-15 {
  top: 29px;
  left: 22px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.box .default-button {
  position: absolute;
  width: 260px;
  height: 84px;
  top: 698px;
  left: 509px;
  box-shadow: 1px 1px 2.1px #7e76d4, 0px 4px 4px #00000040;
}

.box .overlap-14 {
  position: relative;
  width: 280px;
  height: 84px;
  left: -10px;
  border-radius: 100px;
}

.box .frame-16 {
  display: inline-flex;
  align-items: flex-end;
  gap: 56px;
  padding: 32px 30px 32px 70px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a37dd21a;
  border-radius: 100px;
  box-shadow: 1px 1px 2.1px #7e76d4;
}

.box .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Ryo Gothic PlusN-B", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-white);
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 20px;
  white-space: nowrap;
}

.box .intersect {
  position: absolute;
  width: 263px;
  height: 35px;
  top: 0;
  left: 8px;
  mix-blend-mode: lighten;
}

.box .title-3 {
  position: absolute;
  width: 523px;
  height: 183px;
  top: 51px;
  left: 155px;
}

.box .title-4 {
  position: absolute;
  width: 523px;
  height: 98px;
  top: 0;
  left: 0;
}

.box .label {
  position: absolute;
  width: 192px;
  height: 142px;
  top: 560px;
  left: 462px;
  transform: rotate(12.7deg);
}

.box .overlap-15 {
  position: relative;
  height: 142px;
}

.box .overlap-group-wrapper {
  position: absolute;
  width: 192px;
  height: 142px;
  top: 0;
  left: 0;
  opacity: 0.94;
}

.box .watercolor-wrapper {
  position: relative;
  width: 193px;
  height: 109px;
  top: 16px;
  background-image: url(./img/watercolor1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.box .watercolor {
  position: absolute;
  width: 193px;
  height: 109px;
  top: 0;
  left: 0;
  mix-blend-mode: darken;
  object-fit: cover;
}

.box .element {
  position: absolute;
  top: 58px;
  left: 15px;
  transform: rotate(-24.97deg);
  background: linear-gradient(180deg, rgb(158, 135, 190) 0%, rgb(198, 151, 165) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Ryo Gothic PlusN-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.64px;
  line-height: 24px;
  white-space: nowrap;
}

.box .text-wrapper-11 {
  color: #000000;
  letter-spacing: 0.1px;
}

.box .text-wrapper-12 {
  color: #000000;
  font-size: 40px;
}

.box .benefit1 {
  position: absolute;
  left: 1200px;
}

</style>