---
import { Image } from 'astro:assets';

const widths = [450, 800];
const sizes = '(min-width: 640px) 42vw, 67vw';

import shadowover from '~/assets/layer/layer_firstview.png';

import hero_top from '~/assets/firstview/hero_top.png';
import bg from '~/assets/firstview/bg.svg';
import title from '~/assets/firstview/title.png';
import JoinButton from '~/components/common/joinButton.astro';
---

<div
  id="firstview"
  class="flex min-h-[800px] w-full flex-col items-center justify-center overflow-hidden pt-[68px] md:pt-[96px]"
>
  <Image
    class="absolute top-[68px] -z-10 w-full md:top-[96px]"
    src={bg}
    alt="background image"
  />
  <div class="flex flex-col pt-[52px]">
    <!-- TODO: テキストを調整 -->
    <div class="title-area text-center">
      <!-- <div class="title-text hina-mincho back">うれしのサロン</div>
      <div class="title-text hina-mincho mid">うれしのサロン</div>
      <div class="title-text hina-mincho front">うれしのサロン</div>
      <div class="subtitle">
        <div class="overlap-2">
          <p class="p">
            <span class="hina-mincho span">かわいく賢く</span>
            <span class="text-wrapper-3">生きる</span>
            <span class="hina-mincho span">女性</span>
            <span class="text-wrapper-4">のコミュニティ</span>
          </p>
          <p class="div-2">
            <span class="hina-mincho text-wrapper-5">かわいく賢く</span>
            <span class="text-wrapper-6">生きる</span>
            <span class="hina-mincho text-wrapper-5">女性</span>
            <span class="text-wrapper-7">のコミュニティ</span>
          </p>
          <div class="quotation">
            <Image src={frame} alt="" />
          </div>
        </div>
      </div> -->
    </div>
    <div>
      <Image class="hero-top" src={hero_top} alt="" />
      <Image
        class="absolute top-[160px] w-full mix-blend-lighten"
        src={shadowover}
        alt=""
      />
      <Image class="absolute top-[400px] w-full" src={title} alt="" />
    </div>
  </div>
  <div class="pt-5">
    <JoinButton
      microcopy1="4月21日(日)までの期間限定"
      microcopy2="＼第2期メンバー募集中！／"
      text="　　今すぐ入会　　>"
    />
  </div>
  <!-- <div class="w-72">
    <p class="font-thin text-[#71717A] text-xs">
      <span>*決済完了を以って</span>
      <a
        href="https://empression-co.com/lp/salon-terms/"
        target="_blank"
        rel="noopener noreferrer"><span>利用規約</span></a
      >
      <span>に同意したものとみなし、入会手続きが完了します。</span>
    </p>
  </div> -->
</div>

<style>
  .hina-mincho {
    font-family: 'Hina Mincho';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .title-area {
    position: absolute;
    top: 29rem;
    left: 15%;
    .title-text {
      position: relative;
      font-size: 2.5rem;

      &.back {
        top: -1rem;
        color: white;
        filter: drop-shadow(0 0.3rem 0.13rem black);
        -webkit-text-stroke: 0.1rem #ffffff5e;
      }

      &.mid {
        left: -0.04rem;
        top: -4.7rem;
        opacity: 0.81;
        color: #c697a5;
      }

      &.front {
        left: -0.04rem;
        top: -8.3rem;
        background: linear-gradient(
          90deg,
          #c697a5 0%,
          #dbafbc 51.5%,
          #e1b0bf 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        mix-blend-mode: color-burn;
      }
    }

    .subtitle {
      position: absolute;
      width: 251px;
      height: 89px;
      top: 2.4rem;

      .overlap-2 {
        position: relative;
        width: 247px;
        height: 89px;
      }

      .p {
        position: absolute;
        top: 10px;
        left: 18px;
        opacity: 0.7;
        font-family: 'Hina Mincho-Regular', Helvetica;
        font-weight: 400;
        color: white;
        font-size: 24px;
        text-align: center;
        line-height: 24px;
      }

      .span {
        letter-spacing: 2.88px;
        line-height: 144.9303150177002%;
        font-size: 24px;
      }

      .text-wrapper-3 {
        font-size: 16px;
        letter-spacing: 0.31px;
        line-height: 23.2px;
      }

      .text-wrapper-4 {
        font-size: 16px;
        letter-spacing: 0;
      }

      .div-2 {
        position: absolute;
        top: 9px;
        left: 17px;
        color: transparent;
        font-size: 24px;
        text-align: center;
        line-height: 24px;
      }

      .text-wrapper-5 {
        color: #c697a5;
        letter-spacing: 2.88px;
        font-size: 24px;
      }

      .text-wrapper-6 {
        color: #71717a;
        font-size: 16px;
        letter-spacing: 0.31px;
        line-height: 23.2px;
      }

      .text-wrapper-7 {
        color: #71717a;
        font-size: 16px;
        letter-spacing: 0;
      }

      .group {
        position: absolute;
        width: 247px;
        height: 89px;
        top: 0;
        left: 0;
      }

      .quotation {
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0.9;
      }
    }
  }
</style>
