---
import logo from "~/assets/logo.svg";
import insta from "~/assets/footer/icon_insta.svg";
import twitter from "~/assets/footer/icon_x.svg";
import note from "~/assets/footer/icon_note.svg";
import menu from "~/assets/icon_line.svg";
import { Image } from "astro:assets";

import { Client } from "~/util/client";
import { readSingleton } from "@directus/sdk";

// Directusクライアント取得
const client = await new Client().create();
// Directusからprocessのデータを配列で取得
const obj = await client.request(readSingleton("global"));
---

<div class="box -mt-2">
  <footer class="footer flex flex-col items-center bg-[#C697A5]">
    <div class="logo">
      <Image class="img" src={logo} alt="" />
      <div class="salon">
        <div class="text-wrapper">うれしのサロン</div>
        <div class="div">運営会社：Empression Co., Ltd.</div>
      </div>
    </div>
    <div class="social">
      <a href={obj?.URLX ?? ""} target="_blank" rel="noopener noreferrer"
        ><Image class="twitter-x" src={twitter} alt="" /></a
      >
      <a
        href={obj?.URLInstagram ?? ""}
        target="_blank"
        rel="noopener noreferrer"
        ><Image class="instagram" src={insta} alt="" /></a
      >
      <a href={obj?.URLNote ?? ""} target="_blank" rel="noopener noreferrer"
        ><Image class="note-long" src={note} alt="" /></a
      >
      <a href={obj?.URLLine ?? ""} target="_blank" rel="noopener noreferrer"
        ><Image class="linepink" src={menu} alt="" /></a
      >
    </div>
    <Fragment set:html={obj.privacy} />
  </footer>
</div>

<style>
  :root {
    --pale-pink: rgba(245, 236, 239, 1);
    --neutral: rgba(250, 250, 249, 1);
    --lightest-grey: rgba(228, 228, 231, 1);
    --light-grey: rgba(161, 161, 170, 1);
    --grey: rgba(113, 113, 122, 1);
    --dark-grey: rgba(82, 82, 91, 1);
    --black: rgba(39, 39, 42, 1);
    --mobile-h1-font-family: "Hina Mincho", Helvetica;
    --mobile-h1-font-weight: 400;
    --mobile-h1-font-size: 40px;
    --mobile-h1-letter-spacing: 0px;
    --mobile-h1-line-height: normal;
    --mobile-h1-font-style: normal;
    --mobile-h2-font-family: "Hina Mincho", Helvetica;
    --mobile-h2-font-weight: 400;
    --mobile-h2-font-size: 24px;
    --mobile-h2-letter-spacing: 2.88px;
    --mobile-h2-line-height: 144.9303150177002%;
    --mobile-h2-font-style: normal;
    --mobile-body-font-family: "Ryo Gothic PlusN", Helvetica;
    --mobile-body-font-weight: 400;
    --mobile-body-font-size: 16px;
    --mobile-body-letter-spacing: 2.08px;
    --mobile-body-line-height: 22px;
    --mobile-body-font-style: normal;
    --small-title-j-font-family: "Ryo Gothic PlusN", Helvetica;
    --small-title-j-font-weight: 400;
    --small-title-j-font-size: 20px;
    --small-title-j-letter-spacing: 0px;
    --small-title-j-line-height: normal;
    --small-title-j-font-style: normal;
    --small-text-j-font-family: "Ryo Gothic PlusN", Helvetica;
    --small-text-j-font-weight: 400;
    --small-text-j-font-size: 14px;
    --small-text-j-letter-spacing: -0.42px;
    --small-text-j-line-height: normal;
    --small-text-j-font-style: normal;
    --script-font-family: "Charlotte", Helvetica;
    --script-font-weight: 400;
    --script-font-size: 20px;
    --script-letter-spacing: 0px;
    --script-line-height: normal;
    --script-font-style: normal;
    --h1-e-font-family: "Cinzel Decorative", Helvetica;
    --h1-e-font-weight: 400;
    --h1-e-font-size: 64px;
    --h1-e-letter-spacing: 1.92px;
    --h1-e-line-height: normal;
    --h1-e-font-style: normal;
    --h2-j-font-family: "Hina Mincho", Helvetica;
    --h2-j-font-weight: 400;
    --h2-j-font-size: 30px;
    --h2-j-letter-spacing: 3.6px;
    --h2-j-line-height: 144.9303150177002%;
    --h2-j-font-style: normal;
    --body-j-font-family: "Ryo Gothic PlusN", Helvetica;
    --body-j-font-weight: 400;
    --body-j-font-size: 16px;
    --body-j-letter-spacing: 2.56px;
    --body-j-line-height: 24px;
    --body-j-font-style: normal;
    --montserrat-font-family: "Montserrat", Helvetica;
    --montserrat-font-weight: 500;
    --montserrat-font-size: 14px;
    --montserrat-letter-spacing: 0.10000000149011612px;
    --montserrat-line-height: 20px;
    --montserrat-font-style: normal;
    --h1-j-font-family: "Hina Mincho", Helvetica;
    --h1-j-font-weight: 400;
    --h1-j-font-size: 64px;
    --h1-j-letter-spacing: 4.48px;
    --h1-j-line-height: normal;
    --h1-j-font-style: normal;
    --pink-shadow: 3px 4px 5.800000190734863px 0px rgba(193, 157, 169, 1);
    --drop: 0px 2px 4px 0px rgba(177, 165, 171, 0.8);
    --variable-collection-beige: rgba(229, 213, 203, 1);
    --variable-collection-pink: rgba(198, 151, 165, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-pale-pink: rgba(245, 236, 239, 1);
    --variable-collection-salmon: rgba(215, 169, 159, 1);
    --variable-collection-beige-gradient: rgba(255, 255, 255, 0);
    --variable-collection-purple: rgba(158, 135, 190, 1);
  }

  .box {
    position: relative;
    height: 316px;
  }

  .box .footer {
    height: 316px;
    top: 0;
    left: 0;
  }

  .box .element-all-rights {
    top: 296px;
    left: 7px;
    font-family: var(--montserrat-font-family);
    font-weight: var(--montserrat-font-weight);
    color: var(--variable-collection-white);
    font-size: var(--montserrat-font-size);
    letter-spacing: var(--montserrat-letter-spacing);
    line-height: var(--montserrat-line-height);
    white-space: nowrap;
    font-style: var(--montserrat-font-style);
  }

  .box .logo {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 66px;
  }

  .box .img {
    position: relative;
    width: 123px;
    height: 95px;
    object-fit: cover;
  }

  .box .salon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }

  .box .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--small-title-j-font-family);
    font-weight: var(--small-title-j-font-weight);
    color: var(--variable-collection-white);
    font-size: var(--small-title-j-font-size);
    letter-spacing: var(--small-title-j-letter-spacing);
    line-height: var(--small-title-j-line-height);
    font-style: var(--small-title-j-font-style);
  }

  .box .div {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: var(--small-text-j-font-family);
    font-weight: var(--small-text-j-font-weight);
    color: var(--variable-collection-white);
    font-size: var(--small-text-j-font-size);
    letter-spacing: var(--small-text-j-letter-spacing);
    line-height: var(--small-text-j-line-height);
    font-style: var(--small-text-j-font-style);
  }

  .box .privacy {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    top: 248px;
    left: 38px;
  }

  .box .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--small-text-j-font-family);
    font-weight: var(--small-text-j-font-weight);
    color: var(--variable-collection-white);
    font-size: var(--small-text-j-font-size);
    letter-spacing: var(--small-text-j-letter-spacing);
    line-height: var(--small-text-j-line-height);
    font-style: var(--small-text-j-font-style);
  }

  .box .social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    top: 170px;
    left: 0;
  }

  .box .twitter-x {
    position: relative;
    width: 60px;
    height: 43.64px;
  }

  .box .instagram {
    position: relative;
    width: 60px;
    height: 60px;
  }

  .box .note-long {
    position: relative;
    width: 80px;
    height: 30px;
  }

  .box .linepink {
    position: relative;
    width: 46px;
    height: 46px;
  }
</style>
