---
import { Image } from "astro:assets";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

import ureshino1 from "~/assets/hero_top1.png";
import logo from "~/assets/logomark.png";
import description from "~/assets/upgrade_your_life.png";
---

<!-- <section class="relative h-full bg-white">
  <Image class="absolute h-full w-full object-cover" src={src} alt="うれしのサロントップ画像"/>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    > -->
      <!-- <Image src={logomark} alt="うれしのサロンロゴ" class="size-24 text-white md:size-32" /> -->
      <!-- <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        Build fast
        <br /> websites,
        <br /> faster.
      </div> -->
    <!-- </h2>
    <div
      id="astronaut"
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    > -->
      <!-- <Image
        class="h-full w-full object-cover"
        src={ureshino1} alt="うれしのサロントップ画像"
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating astronaut in a space suit"
      /> -->
    <!-- </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript> -->

    <div class="flex flex-col">
      <div class="self-center w-full max-w-[884px] max-md:max-w-full">
        <header class="flex gap-5 max-md:flex-col max-md:gap-0 h-12">
          <div class="flex justify-center grow gap-5 items-start w-full text-sm font-medium tracking-normal leading-5 whitespace-nowrap text-zinc-400 max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
          </div>
        </header>
      </div>
      <section class="flex overflow-visible relative flex-col justify-center items-start px-16 py-16 w-full min-h-[853px] max-md:px-5 max-md:mt-10 max-md:max-w-full bg-white rounded-t-[60px]">
        <Image src={logo}
              alt="Logo"
              class="relative z-40 top-[-150px] w-48 self-center shrink-0 self-start max-w-full aspect-[1.3] w-[123px]"
          />
        <div class="flex relative z-50 flex-col items-start mt-7 ml-80 max-w-full w-[476px]">
          <div class="flex flex-col ml-4 max-w-full text-zinc-500 max-md:ml-2.5">
            <p class="text-xs">
              マレーシア在住起業家&インフルエンサーの嬉野ゆみ
            </p>
          </div>
          <Image src={description} alt="hero" class="inset-0"/>
          <p class="self-stretch mt-11 text-xl text-zinc-500 max-md:mt-10 max-md:max-w-full" style="color: var(--grey, #71717A);
          text-shadow: 8px 8px 20px #FFF;
          
          /* H2_j */
          font-family: HannariMincho;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;">
            「かわいく賢く生きる」女性が集まる 女性のコミュニティ
          </p>
          <div class="flex flex-col mt-44 ml-4 max-w-full text-sm w-[186px] max-md:mt-10 max-md:ml-2.5">
            
          </div>
        </div>
        <div class="absolute right-[88px] top-[-16px] w-[788px]">
          <Image src={ureshino1} alt="hero" class="inset-0"/>
        </div>
      </section>
    </div>